@page "/"

<h1>Autovermietung</h1>

<div>
    <h3>Autos</h3>
    
        
    
    @if (Cars != null)
    {
        <div class="list-group">
        @foreach (var car in Cars)
        {
            <a href="/cars/@car.ID" class="list-group-item list-group-item-action">@car</a>
        }
        </div>
    }
    
</div>
<div>
    <h3>Kunden</h3>
    @if (Customers != null)
    {
        <div class="list-group">
        @foreach (var customer in Customers)
        {
            <a href="/customers/@customer.ID" class="list-group-item list-group-item-action">@customer</a>
        }
        </div>

    }
</div>
<div>
    <h3>Buchungen</h3>
    @if (Bookings != null)
    {
        <div class="list-group">
        @foreach (var booking in Bookings)
        {
            <a href="/bookings/@booking.ID" class="list-group-item list-group-item-action">@booking</a>
        }
        </div>
    }
</div>


@code
{
    [Inject]
    public IRepository Repository { get; set; }

    public IEnumerable<Car> Cars { get; set; }
    public IEnumerable<Customer> Customers { get; set; }
    public IEnumerable<Booking> Bookings { get; set; }

    protected override void OnInitialized()
    {
        Cars = Repository.GetAllCars();
        Customers = Repository.GetAllCustomers();
        Bookings = Repository.GetAllBookings();

        base.OnInitialized();
    }
}